{% extends "layout.html" %}
{% block main %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/footer-bottom.css') }}">


    <div class="d-flex justify-content-around row">
            <img class="rounded align-self-center col-md-5" width="200" height="200" src="https://lh3.googleusercontent.com/2kS2HWQ7LSLHvmmCyKWYcj8XCIZNdzzFfVdzMRb8sjdWCtp3_1HrpEHVqRz2OzU_urPNoGSDAGI9g7VldvSHr4hMx4rCKZXQ6p0s2E7pJi8bgQsDVQmSYNS-fDpTBUhGVhVVM4lUwqauGT6MvaRxugvHufj9SR03lLLmCgFFscG3E-r2Y6OMNYNWbYCzUhRqHtmQT7hjLNQZplVMYluxg4Z9_rhZMCGVO5QYZ7BfuwpLBIlH4xDBnpn0lncdVgzcVHMn4gU7eZIRN5ShH27OVdyLs7C2FYVDxWKCbyDCrhc2emvQnERr2QRHjgtsKfBMRpbhDZ_dOLNe-4JmHG41BRgxKeXAncJPfB9INP8LdwH4HJ0gAylm9Tbjg6e8GHed0WfvCsCt54LSvbiXcTBJv_-QeODuEKDlF7uaKTEJdvvicVDtTYlgdWfzQ1kqhI1YCKTug7u7Z_xiosEwT9cM_hUIDrjhs1RpGpGO04P2_K0Gb3-oyEr9iYiKSoO0goaNyCEZC8YObnl--wv7VK6wRlC8DUqip0YCGRceuxlQpvC1kQj8ydg3jIccgpqI0NV2KR0KO-Lv64OaNxU7PJb6xuDx2upvfp3t4ys3QPM=w1072-h670-no" alt="">
            <p class="text-justify col-md-5">“People find me to be an upbeat, self-motivated team player with excellent communication skills. For the past several years I have worked in lead qualification, telemarketing, and customer service in the technology industry. My experience includes successfully calling people in director-level positions of technology departments and developing viable leads. I have a track record of maintaining a consistent call and activity volume and consistently achieving the top 10 percent in sales, and I can do the same thing for your company.”</p>
    </div>
{% endblock %}