{% extends "layout.html" %}
{% block main %}

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/footer-bottom.css') }}">


    <div class="row col-sm-6 d-flex justify-content-between m-2">
        <div class="font-weight-bold">Name:</div>
        <div>Ivanov Ilya</div>
    </div>
    <div class="row col-sm-6 d-flex justify-content-between m-2">
        <div class="font-weight-bold">email:</div>
        <div>ivilvad@gmail.com</div>
    </div>
    <div class="row col-sm-6 d-flex justify-content-between m-2">
        <div class="font-weight-bold">Tel:</div>
        <div>Pls try email first</div>
    </div>
    <div class="row col-sm-6 d-flex justify-content-between m-2">
        <div class="font-weight-bold">Telegram:</div>
        <div><a href="http://t.me/ku113p">@ku113p</a></div>
    </div>
    <div class="row col-sm-6 d-flex justify-content-between m-2">
        <div class="font-weight-bold pt-2   ">Skype:</div>
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <div id="SkypeButton_Call_dest716_1">
         <script type="text/javascript">
         Skype.ui({
         "name": "chat", "text": "dest716",
         "element": "SkypeButton_Call_dest716_1",
         "participants": ["dest716"]
         });
         </script>
        </div>
    </div>

{% endblock %}